jupyter
jupyterlab
jupyter-book
xarray
numpy
scipy
dask
netcdf4
pandas
matplotlib
hvplot
intake
fsspec
gcsfs
tqdm
zarr
ipympl
sounddevice
soundfile
sphinx-inline-tabs
sphinx-examples
sphinx-proof
sphinx-hoverxref
sphinx-autodoc2
getgist
jupyter_bokeh
hvplot
pooch

